<div class="jumbotron cla" align="center" >
    <h1>WordCounter</h1>
    <p class="cla2">A simple application to count the number of words in a text and the words required to meet a particular target</p>
</div>